*,
*::before,
*::after {
  box-sizing: border-box; }

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0; }

ul[role="list"],
ol[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

img,
picture {
  max-width: 100%;
  display: block; }

input,
button,
textarea,
select {
  font: inherit; }

body {
  font-family: "Dosis", "serif"; }

.clocks__date, .clocks__time, .clocks__type, .clocks__local {
  font-size: 1.6rem;
  font-weight: 300;
  color: #c8bfe7;
  letter-spacing: 3px; }

.clocks__details {
  font-size: 1.6rem;
  font-weight: 300;
  color: #c8bfe7;
  letter-spacing: 3px; }

.clocks__zone, .clocks__country {
  font-weight: 400; }

.clocks__date {
  font-size: 1.4rem; }

.clocks__time--global {
  font-size: 6.2rem;
  font-weight: 700;
  color: #e3def3; }

.clocks__type {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: rgba(200, 191, 231, 0.3); }

.curved-text {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 1.5px;
  fill: #c8bfe7; }
  .curved-text__middle--time {
    font-size: 4.4rem;
    font-weight: 500;
    fill: #e3def3; }
  .curved-text__outer {
    font-size: 1.2rem; }
    .curved-text__outer--country {
      transform: rotate(40deg); }
    .curved-text__outer--time {
      font-size: 2.2rem;
      font-weight: 500;
      fill: #e3def3; }

.logo {
  height: 5rem;
  width: 5rem; }

.clocks {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr; }
  .clocks--1, .clocks--2, .clocks--3 {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    align-self: center;
    justify-self: center;
    border: 1px solid #c8bfe7;
    border-radius: 500000px;
    position: relative; }
  .clocks--1 {
    height: 75rem;
    width: 75rem; }
  .clocks--2 {
    height: 47.5rem;
    width: 47.5rem; }
  .clocks--3 {
    height: 30rem;
    width: 30rem;
    display: flex;
    align-items: center; }
  .clocks__date, .clocks__time, .clocks__type, .clocks__local {
    position: absolute; }
  .clocks__details {
    margin: 0 auto;
    margin-top: 7rem; }
  .clocks__details .clocks__zone {
    margin-right: 2rem; }
  .clocks__date {
    top: 50%;
    right: 50%;
    transform: translateX(50%); }
  .clocks__time--global {
    top: 20%;
    right: 50%;
    transform: translateX(50%); }
    .clocks__time--global::after {
      content: "";
      display: block;
      height: 1px;
      width: 15rem;
      background-color: #4a3594;
      margin-top: -0.7rem; }
  .clocks__type {
    top: 0%;
    right: 50%;
    transform: translateX(50%); }
    .clocks__type--1 {
      display: inline-block;
      transform: translateY(62%) rotate(-20deg); }
    .clocks__type--2 {
      display: inline-block;
      transform: translateY(35%) rotate(-12deg);
      margin-left: -0.3rem; }
    .clocks__type--3 {
      display: inline-block;
      transform: translateY(20%) rotate(0deg); }
    .clocks__type--4 {
      display: inline-block;
      transform: translateY(35%) rotate(12deg); }
    .clocks__type--5 {
      display: inline-block;
      transform: translateY(62%) rotate(20deg); }

.curved-text {
  position: absolute;
  top: -0%;
  right: 0%; }
  .curved-text__outer, .curved-text__middle, .curved-text__inner {
    grid-column: content-start / content-end;
    grid-row: 1 / 2;
    position: relative;
    z-index: 5000; }
  .curved-text__middle--zone, .curved-text__middle--country, .curved-text__middle--time, .curved-text__middle--month, .curved-text__middle--day {
    position: absolute;
    top: 0;
    right: 0; }
  .curved-text__middle--zone {
    transform: rotate(-5deg); }
  .curved-text__middle--country {
    transform: rotate(35deg); }
  .curved-text__middle--time {
    transform: rotate(77deg) translateX(2.5%); }
  .curved-text__middle--month {
    transform: rotate(130deg); }
  .curved-text__middle--day {
    transform: rotate(180deg); }
  .curved-text__outer--country, .curved-text__outer--time, .curved-text__outer--month, .curved-text__outer--day {
    position: absolute;
    top: 0;
    right: 0; }
  .curved-text__outer--country {
    transform: rotate(40deg); }
  .curved-text__outer--time {
    transform: rotate(82.5deg) translateX(0.5%); }
  .curved-text__outer--month {
    transform: rotate(130deg); }
  .curved-text__outer--day {
    transform: rotate(175deg); }

.form {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  display: grid; }
  .form__checkbox {
    display: none; }
  .form__btn {
    height: 7.5rem;
    width: 7.5rem;
    position: absolute;
    top: 2.5rem;
    right: 3.5rem;
    background-color: #644abd;
    border-radius: 50%;
    cursor: pointer;
    z-index: 9998;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3); }
  .form__icon {
    transition: all 0.2s; }
    .form__icon--add, .form__icon--close {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .form__icon--add {
      color: #c8bfe7;
      height: 5rem;
      width: 5rem;
      opacity: 1;
      visibility: visible; }
    .form__icon--close {
      color: #c8bfe7;
      height: 5rem;
      width: 5rem;
      opacity: 0;
      visibility: hidden; }
  .form__background {
    height: 6.5rem;
    width: 6.5rem;
    position: absolute;
    top: 3rem;
    right: 4rem;
    background-image: radial-gradient(#644abd, #3f2d79);
    border-radius: 50%;
    z-index: 9997;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  .form__checkbox:checked ~ .form__background {
    transform: scale(80); }

.logo-box {
  position: absolute;
  top: 2.5rem;
  left: 3.5rem; }

.clock-box {
  background-image: radial-gradient(#3f2d79 1%, #4a3594 30%, #644abd 70%);
  height: 100%;
  grid-column: content-start / content-end;
  grid-row: 1 / 2;
  align-self: center;
  text-align: center;
  clip-path: circle(40%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100; }

.globe-box {
  height: 85.5%;
  grid-column: content-start / content-end;
  grid-row: 1 / 2;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 200;
  filter: drop-shadow(0 2rem 4rem rgba(0, 0, 0, 0.2)); }
  .globe-box img {
    height: 100%;
    border-radius: 50%;
    clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%); }

body {
  background-color: #e3def3; }

.container {
  background-color: #c8bfe7;
  overflow: hidden;
  height: 80vh;
  width: 80vw;
  border: 1px solid #999;
  border-radius: 10px;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.15);
  display: grid;
  grid-template-columns: 1fr [content-start] minmax(85rem, max-content) [content-end] 1fr;
  grid-template-rows: max-content;
  position: relative; }
