///////////////////////////////////////
// Colors
$color-primary: #644abd;
$color-primary-light-1: #c8bfe7;
$color-primary-light-2: #e3def3;
$color-primary-dark-1: #3f2d79;
$color-primary-dark-2: #4a3594;

// Error Color
$color-error: #d41b1b;

// Greys
$color-grey: #999;
$color-grey-dark: #333;

// Black, White
$black: #000;
$white: #fff;
