///////////////////////////////////////
// Colors
$color-primary: #644abd;
$color-primary-light-1: #c8bfe7;
$color-primary-light-2: #e3def3;
$color-primary-dark-1: #3f2d79;
$color-primary-dark-2: #4a3594;

// Greys
$color-grey-1: #333;
$color-grey-5: #999;

// Black, White
$black: #000;
$white: #fff;
