.logo-box {
  // Positioning
  position: absolute;
  top: 2.5rem;
  left: 3.5rem;
}

.clock-box {
  // background-color: $color-primary;
  // height: 85%;
  height: 101rem;

  // Placing it in the right cell of container grid
  grid-column: content-start / content-end;
  grid-row: 1 / 2;

  // Alinging it to the center
  align-self: center;

  // TEST ==============
  text-align: center;

  // Making it look like a circle
  clip-path: circle(40%);

  // Alingning clocks centered inside clock container
  display: flex;
  // grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;

  position: relative;
  z-index: 200;
}

.globe-box {
  // height: 67.5%;
  height: 75rem;

  // Placing it in the right cell of container grid
  grid-column: content-start / content-end;
  grid-row: 1 / 2;

  // Alinging it to the center
  align-self: center;

  // Aligning img to the center
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  z-index: 100;

  img {
    height: 100%;
    border: 2px solid $color-primary;
    border-radius: 50%;
  }
}
