.logo-box {
  // Positioning
  position: absolute;
  top: 2.5rem;
  left: 3.5rem;
}

.clock-box {
  // background-color: $color-primary;
  background-image: radial-gradient(
    $color-primary-dark-1 1%,
    $color-primary-dark-2 30%,
    $color-primary 70%
  );

  height: 100%;

  // Placing it in the right cell of container grid
  grid-column: content-start / content-end;
  grid-row: 2 / 3;

  // Alinging it to the center
  align-self: center;

  // Text stylling
  text-align: center;

  // Making it look like a circle
  clip-path: circle(40%);

  // Alingning clocks centered inside clock container
  display: flex;
  justify-content: center;
  align-items: center;

  // Under globe box
  position: relative;
  z-index: 100;
}

.globe-box {
  height: 85.5%;

  // Other globe image
  // height: 73rem;
  // transform: translateX(0.2%);

  // Placing it in the right cell of container grid
  grid-column: content-start / content-end;
  grid-row: 2 / 3;

  // Alinging it to the center
  align-self: center;

  // Aligning img to the center
  display: flex;
  justify-content: center;
  align-items: center;

  // On top of clocks box
  position: relative;
  z-index: 200;

  img {
    height: 100%;
    border-radius: 50%;

    clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
  }
}

//////////////////////////////////////////////
// Form box for adding a timezone to the clock
.form {
  // Placing it through the whole container
  grid-row: 2 / 3;
  grid-column: 1 / -1;

  align-self: center;
  justify-self: center;

  ///////////////////////////////
  /// Form button ///////////////
  ///////////////////////////////

  &__btn {
    // Sizing
    @include square(7.5rem);

    // Position
    position: absolute;
    top: 2.5rem;
    right: 3.5rem;

    // Background and rounding of the box
    background-color: $color-primary;
    border-radius: 50%;
    border: none;

    // Button cursor
    cursor: pointer;

    // Making it on top of everything but not its elements
    z-index: 9998;

    // Shadows
    box-shadow: 0 1rem 4rem rgba($black, 0.3);
  }

  &__icon {
    // Animation
    transition: all 0.8s;

    &--add,
    &--close {
      // Centering icons
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &--add {
      // General styling
      @include square(5rem);
    }

    &--close {
      // General styling
      @include square(5rem);
    }
  }

  &__background {
    // Little bit smaller than button on top
    @include square(6.5rem);

    // Position under button
    position: absolute;
    top: 3rem;
    right: 4rem;

    // Making it a circle with gradient background
    background-image: radial-gradient($color-primary, $color-primary-dark-1);
    border-radius: 50%;

    // Placing it on top of website content
    z-index: 9997;

    // Animation
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  }
}
