.logo-box {
  // Positioning
  position: absolute;
  top: 2.5rem;
  left: 3.5rem;
}

.clock-box {
  // background-color: $color-primary;
  background-image: radial-gradient(
    $color-primary-dark-1 1%,
    $color-primary-dark-2 30%,
    $color-primary 70%
  );

  // height: 75rem;
  height: 100%;

  // Placing it in the right cell of container grid
  grid-column: content-start / content-end;
  grid-row: 1 / 2;

  // Alinging it to the center
  align-self: center;

  // Text stylling
  text-align: center;

  // Making it look like a circle
  clip-path: circle(40%);

  // Alingning clocks centered inside clock container
  display: flex;
  // grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;

  // Under globe box
  position: relative;
  z-index: 100;
}

.globe-box {
  // height: 64.2rem;
  height: 85.5%;

  // Other globe image
  // height: 73rem;
  // transform: translateX(0.2%);

  // Placing it in the right cell of container grid
  grid-column: content-start / content-end;
  grid-row: 1 / 2;

  // Alinging it to the center
  align-self: center;

  // Aligning img to the center
  display: flex;
  justify-content: center;
  align-items: center;

  // On top of clocks box
  position: relative;
  z-index: 200;

  // Shadow
  filter: drop-shadow(0 2rem 4rem rgba($black, 0.2));

  img {
    height: 100%;
    border-radius: 50%;

    clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
  }
}
