.clocks {
  @include square(100%);

  // Centering scaled up interior circles
  // transform: translateY(17%);

  // Placing every circle on top of each other
  display: grid;
  grid-template-rows: 1fr;

  // Cliping bottom to show globe
  // clip-path: polygon(-10% -10%, 110% -10%, 110% 45%, -10% 45%);

  &--1,
  &--2,
  &--3 {
    // Placing every circle on top of each other
    grid-column: 1 / -1;
    grid-row: 1 / 2;

    // Aligning to center
    align-self: center;
    justify-self: center;

    // Making every little circle a circle
    // clip-path: circle(40%);

    padding-top: 6rem;

    // Rounding circles corners
    border: 1px solid $color-primary-light-1;
    border-radius: 500000px;
  }

  &--1 {
    height: 75rem;
    width: 75rem;

    // background-color: pink;
  }

  &--2 {
    height: 47.5rem;
    width: 47.5rem;

    // background-color: green;
  }

  &--3 {
    height: 30rem;
    width: 30rem;

    // background-color: red;
  }
}
