.clocks {
  height: 100%;
  width: 75%;

  // Centering scaled up interior circles
  transform: translateY(17%);

  // Placing every circle on top of each other
  display: grid;
  grid-template-rows: 1fr;

  // Cliping bottom to show globe
  clip-path: polygon(-10% -10%, 110% -10%, 110% 45%, -10% 45%);

  &--1,
  &--2,
  &--3 {
    // Placing every circle on top of each other

    grid-column: 1 / -1;
    grid-row: 1 / 2;

    // Aligning to center
    align-self: center;
    justify-self: center;

    border-radius: 10000px;

    padding-top: 5rem;

    background-color: $color-primary;

    border: 1px solid $color-primary-light-1;
  }

  &--1 {
    @include square(120%);

    // background-color: pink;
  }

  &--2 {
    width: 85%;
    height: 53%;
    transform: translateY(-28%);

    // background-color: green;
  }

  &--3 {
    width: 50%;
    height: 32%;
    transform: translateY(-40%);

    // background-color: red;
  }
}
