.clocks {
  @include square(100%);

  // Placing every circle on top of each other
  display: grid;
  grid-template-rows: 1fr;

  &--1,
  &--2,
  &--3 {
    // Placing every circle on top of each other
    grid-column: 1 / -1;
    grid-row: 1 / 2;

    // Aligning to center
    align-self: center;
    justify-self: center;

    // Rounding circles corners
    border: 1px solid $color-primary-light-1;
    border-radius: 500000px;

    position: relative;
  }

  &--1 {
    height: 75rem;
    width: 75rem;
  }

  &--2 {
    height: 47.5rem;
    width: 47.5rem;
  }

  &--3 {
    height: 30rem;
    width: 30rem;

    display: flex;
    align-items: center;
  }

  // Clocks content
  &__date,
  &__time,
  &__type,
  &__local {
    position: absolute;
  }

  &__details {
    // Spacing
    margin: 0 auto;
    margin-top: 7rem;
  }

  &__details &__zone {
    margin-right: 2rem;
  }

  &__date {
    top: 50%;
    right: 50%;
    transform: translateX(50%);
  }

  &__time {
    &--global {
      top: 20%;
      right: 50%;
      transform: translateX(50%);

      &::after {
        content: "";
        display: block;
        height: 1px;
        width: 15rem;
        background-color: $color-primary-dark-2;
        margin-top: -0.7rem;
      }
    }
  }

  &__type {
    top: 0%;
    right: 50%;
    transform: translateX(50%);

    &--1 {
      @include worldTextPos(62%, -20deg);
    }

    &--2 {
      @include worldTextPos(35%, -12deg);
      margin-left: -0.3rem;
    }

    &--3 {
      @include worldTextPos(20%, 0deg);
    }

    &--4 {
      @include worldTextPos(35%, 12deg);
    }

    &--5 {
      @include worldTextPos(62%, 20deg);
    }
  }
}

.curved-text {
  position: absolute;
  top: -0%;
  right: 0%;

  &__outer,
  &__middle,
  &__inner {
    // Positioning it on top of the circles
    grid-column: content-start / content-end;
    grid-row: 1 / 2;

    // Puting it on top of everything
    position: relative;
    z-index: 5000;
  }

  /////////////////////////
  /// Outer circle text
  &__middle {
    &--zone,
    &--country,
    &--time,
    &--month,
    &--day {
      position: absolute;
      top: 0;
      right: 0;
    }

    &--zone {
      transform: rotate(-5deg);
    }

    &--country {
      transform: rotate(35deg);
    }

    &--time {
      transform: rotate(77deg) translateX(2.5%);
    }

    &--month {
      transform: rotate(130deg);
    }

    &--day {
      transform: rotate(180deg);
    }
  }

  /////////////////////////
  /// Outer circle text
  &__outer {
    &--country,
    &--time,
    &--month,
    &--day {
      position: absolute;
      top: 0;
      right: 0;
    }

    &--country {
      transform: rotate(40deg);
    }

    &--time {
      transform: rotate(82.5deg) translateX(0.5%);
    }

    &--month {
      transform: rotate(130deg);
    }

    &--day {
      transform: rotate(175deg);
    }
  }
}
