.error {
  // Dimensions of main container of error message
  width: 30rem;
  height: 15rem;

  // Border
  border: 1px solid $black;
  border-radius: 2rem;

  // Shadows
  box-shadow: 0 0.5rem 1rem rgba($black, 0.25);

  // Background
  background-image: linear-gradient(
    to left top,
    $color-primary,
    $color-primary-light-1
  );

  // Flex element to responsively place content to the center
  display: flex;
  justify-content: center;
  align-items: center;

  // Spacing between columns
  gap: 1.5rem;

  // Position
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  // On top of everything
  z-index: 99999;

  @include hidden;

  animation: popUpMessage 3s;

  &__logo {
    &-img {
      // Logo sizing
      width: 7.5rem;
      height: 7.5rem;

      // Logo color
      stroke: $color-error;
    }
  }
  &__text {
    // Typography of error text
    font-family: 'Inter', sans-serif;
    // color: $color-primary-dark-1;
    color: $color-grey-dark;

    // Making it a flex element to create spacing between lines of text
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
.invalid-data {
  // General styling
  font-size: 2.2rem;
  font-weight: 600;
}
.try-again {
  // General styling
  font-size: 1.6rem;
  font-weight: 500;
}

// Popup animation
@keyframes popUpMessage {
  0% {
    // At start it is hidden and moved up
    @include hidden;
    top: -10rem;
  }

  10% {
    // At 10% (to avoid using up full animations half time only to get in position) it reaches its final position
    @include visible;
    top: 5rem;
  }

  90% {
    // At 90% (to avouid using other half animation time to fade out) it is still in its position and fully visible
    @include visible;
    top: 5rem;
  }

  100% {
    // At 100% it is hidden and in the same place
    @include hidden;
    top: 5rem;
  }
}
