.error {
  width: 30rem;
  height: 15rem;
  background-image: linear-gradient(
    to bottom right,
    $color-dark-1,
    $color-primary
  );

  &__logo {
    &-img {
    }
  }
  &__text {
  }
}
.invalid-data {
}
.try-again {
}
