.form {
  background-color: grey;
  // Placing it through the whole container
  grid-row: 1 / 2;
  grid-column: 1 / -1;

  ///////////////////////////////
  /// Form button ///////////////
  ///////////////////////////////
  &__checkbox {
    // Hide original checkbox
    display: none;
  }

  &__btn {
    // Sizing
    height: 7.5rem;
    width: 7.5rem;

    // Position
    position: absolute;
    top: 2.5rem;
    right: 3.5rem;

    // Background and rounding of the box
    background-color: $color-primary;
    border-radius: 50%;

    // Button cursor
    cursor: pointer;

    // Making it on top of everything but not its elements
    z-index: 9998;

    // Shadows
    box-shadow: 0 1rem 4rem rgba($black, 0.3);
  }

  &__icon {
    // Animation
    transition: all 0.2s;

    &--add,
    &--close {
      // Centering icons
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &--add {
      // General styling
      color: $color-primary-light-1;
      height: 5rem;
      width: 5rem;

      // Visibility
      opacity: 1;
      visibility: visible;
    }

    &--close {
      // General styling
      color: $color-primary-light-1;
      height: 5rem;
      width: 5rem;

      // Visibility
      opacity: 0;
      visibility: hidden;
    }
  }

  &__background {
    // Little bit smaller than button on top
    height: 6.5rem;
    width: 6.5rem;

    // Position under button
    position: absolute;
    top: 3rem;
    right: 4rem;

    // Making it a circle with gradient background
    background-image: radial-gradient($color-primary, $color-primary-dark-1);
    border-radius: 50%;

    // Placing it on top of website content
    z-index: 9997;

    // Animation
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  }

  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }
}

.form-box {
  margin: 6rem 8rem;

  // Creating grid for the item placing
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 1fr 4fr 1fr;

  // Spacing
  // row-gap: 5rem;
  // column-gap: 10rem;

  // Placing it on top of website content
  position: relative;
  z-index: 9999;

  &__heading {
    // Positioning it in the box
    grid-column: 1 / -1;
    grid-row: 1 / 2;

    // Horizontal alignment
    justify-self: center;
  }

  &__content {
    // Positioning it in the box
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    // Making it a flexbox for 1 dimensional positioning
    display: flex;
    flex-direction: column;

    // Flex-item alignment
    justify-content: center;
    align-items: center;

    // Spacing between flex-items
    gap: 10rem;

    &-item {
      display: flex;
      flex-direction: column;
    }
  }

  &__country,
  &__city,
  &__zone {
    // Dimensions of input elements
    height: 4rem;
    width: 30rem;

    // Border
    border: 1px solid $color-primary-dark-1;
    border-radius: 10px;

    // General styling
    font-size: 1.6rem;
    font-weight: 400;
    color: $color-primary-dark-1;

    // Shadow
    box-shadow: 0 1rem 4rem rgba($black, 0.2);

    // Spacing
    padding: 1rem 2rem;
  }

  &__country::placeholder,
  &__city::placeholder,
  &__zone::placeholder {
    // General styling
    font-size: 1.6rem;
    font-weight: 400;
    color: rgba($color-primary-dark-2, 0.5);
  }

  &__label {
    // General styling
    font-size: 1.6rem;
    font-weight: 300;
    color: $white;

    // Spacing
    padding: 0.5rem 2rem;
  }

  &__map {
    // Positioning it in the box
    grid-column: 2 / 3;
    grid-row: 2 / 4;

    border: 1px solid $color-primary-dark-1;
    border-radius: 10px;

    // Shadowns
    box-shadow: 0 1rem 4rem rgba($black, 0.3);

    margin-top: -2rem;

    // // TEST
    background-color: $color-primary-light-2;
  }

  .footer {
    grid-column: 1 / 2;
    grid-row: 3 / 4;

    justify-self: center;
    align-self: center;
  }
}
