.form {
  &__checkbox {
    // Hide original checkbox
    display: none;
  }

  &__btn {
    // Sizing
    height: 7.5rem;
    width: 7.5rem;

    // Position
    position: absolute;
    top: 2.5rem;
    right: 3.5rem;

    // Background and rounding of the box
    background-color: $color-primary;
    border-radius: 50%;

    // Button cursor
    cursor: pointer;

    // Making it on top of everything but not its elements
    z-index: 9998;

    // Shadows
    box-shadow: 0 1rem 4rem rgba($black, 0.2);
  }

  &__icon {
    // Animation
    transition: all 0.2s;

    &--add,
    &--close {
      // Centering icons
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &--add {
      // General styling
      color: $color-primary-light-1;
      height: 5rem;
      width: 5rem;

      // Visibility
      opacity: 1;
      visibility: visible;
    }

    &--close {
      // General styling
      color: $color-primary-light-1;
      height: 5rem;
      width: 5rem;

      // Visibility
      opacity: 0;
      visibility: hidden;
    }
  }

  &__background {
    // Little bit smaller than button on top
    height: 6.5rem;
    width: 6.5rem;

    // Position under button
    position: absolute;
    top: 3rem;
    right: 4rem;

    // Making it a circle with gradient background
    background-image: radial-gradient($color-primary, $color-primary-dark-2);
    border-radius: 50%;

    // Placing it on top of website content
    z-index: 9997;

    // Animation
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  }

  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }
}
