.spinner {
  width: 100vw;
  height: 100vh;

  margin: 5rem auto;
  text-align: center;

  z-index: 9999;

  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba($black, 0.5);

  &__logo {
    height: 15rem;
    width: 15rem;

    stroke: $color-primary-light-2;
    animation: rotate 2s infinite linear;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
