body {
  font-family: 'Dosis', 'serif';
}

/////////////////////////////////
/// HEADINGS ////////////////////
/////////////////////////////////

.heading-secondary {
  font-size: 3.2rem;
  font-weight: 400;
  letter-spacing: 1.5px;
  color: $color-primary-light-2;
}

/////////////////////////////////
/// CLOCKS //////////////////////
/////////////////////////////////
.clocks {
  // Clocks content
  &__date,
  &__time,
  &__type,
  &__details {
    font-size: 1.6rem;
    font-weight: 300;
    color: $color-primary-light-1;
    letter-spacing: 3px;
  }

  &__zone,
  &__country {
    font-weight: 400;
  }

  &__date {
    font-size: 1.4rem;
  }

  &__time-global {
    font-size: 6.2rem;
    font-weight: 700;
    color: $color-primary-light-2;
  }

  // World text in smallest circle
  &__type {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: rgba($color-primary-light-1, 0.3);
  }
}

.curved-text {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 1.5px;
  fill: $color-primary-light-1;

  /////////////////////////
  /// Outer circle text
  &__middle {
    &--time {
      font-size: 4.4rem;
      font-weight: 500;
      fill: $color-primary-light-2;
    }
  }

  /////////////////////////
  /// Outer circle text
  &__outer {
    font-size: 1.2rem;

    &--country {
      transform: rotate(40deg);
    }

    &--time {
      font-size: 2.2rem;
      font-weight: 500;
      fill: $color-primary-light-2;
    }
  }
}

.brand {
  font-weight: 700;
}

.copyright {
  font-size: 1.4rem;
  letter-spacing: 1.25px;
  color: rgba($color-primary-light-2, 0.75);
}

/////////////////////////////////
/// FORM ////////////////////////
/////////////////////////////////

.form {
  &__icon {
    &--add,
    &--close {
      // General styling
      color: $color-primary-light-1;
    }
  }
}

.form-box {
  &__country,
  &__city,
  &__continent {
    // General styling
    font-size: 1.6rem;
    font-weight: 400;
    color: $color-primary-dark-1;
  }

  &__country::placeholder,
  &__city::placeholder,
  &__continent::placeholder {
    // General styling
    font-size: 1.6rem;
    font-weight: 400;
    color: rgba($color-primary-dark-2, 0.5);
  }

  &__label {
    // General styling
    font-size: 1.6rem;
    font-weight: 300;
    color: $white;
  }

  &__list-item {
    // General styling
    font-size: 1.6rem;
    font-weight: 500;
    color: $color-grey-dark;
  }
}
